
# Check /var/log/eb-activity.log inside the container for these echo commands.

commands:
  01_run_command_in_instance_not_container: 
    command: "touch /home/ec2-user/miketest.txt"
  02_create_post_dir_in_eb_hooks:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

container_commands:
  01_echo:
    command: "echo AWS Container Commands started..."
  02_set_flag_for_primary_instance:
    command: "touch /tmp/is_leader"
    leader_only: true
  # 03_db_migrations:
  #   command: "php artisan migrate --force"
  #   cwd: "/var/app/ondeck"
  04_echo:
    command: "echo Completed container_commands"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_deploy_scripts.sh":
    mode: "000755"
    owner: "root"
    group: "root"
    content: |
      #!/usr/bin/env bash
      echo "Making storage dirs writeable"
      chmod -R 777 /var/app/current/app/storage



