###
#
# AWS ElasticBeanstalk Post Deployment Scripts
#
# Execute commands inside Docker container after deployment.
# - make storage directories writeable
# - rename .env files
#
# Check /var/log/eb-activity.log inside the container for these echo commands.
#
###


commands:
  01_echo:
    command: "echo AWS commands section started..."
  02_create_post_dir_in_eb_hooks:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
  03_echo:
    command: "echo AWS commands section complete."

container_commands:
  01_echo:
    command: "echo AWS container_commands started..."
  02_set_flag_for_primary_instance:
    command: "touch /tmp/is_leader"
    leader_only: true
  03_echo:
    command: "echo AWS container_commands complete."

# Post deployment scripts can be added here. The bash scripts in the 'content:'
# section will execute after the EB deployment.
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_deploy_scripts.sh":
    mode: "000755"
    owner: "root"
    group: "root"
    content: |
      #!/usr/bin/env bash
      echo "Making storage dirs writeable..."
      chmod -R 777 /var/app/current/app/storage
      echo "Renaming .env file..."
      rm /var/app/current/.env
      mv /var/app/current/.env.staging /var/app/current/.env



