commands:
  01run_command_in_instance_not_container: 
    command: "touch /home/ec2-user/miketest.txt"

container_commands:
  02run_command_in_docker_container:
    command: "touch /var/app/current/app/miketest.txt"
  03run_again:
    command: "touch /var/www/html/miketest.txt"
  04whoami:
    command: "whoami"