/**
 * _header.scss
 *
 */


/* ==========================================================================
   Small Up
   ========================================================================== */
header{
  height: 160px;
  background: black(1);
}


/* ==========================================================================
    Medium Up
   ========================================================================== */
@media #{$medium-up} {
  header{
    background: black(0.5);
  }
}


/* ==========================================================================
    Large Up
   ========================================================================== */
@media #{$large-up} {
  header{
    background: black(0.1);
  }
}

