/**
 * _base.scss
 *
 * Tag defaults
 *
 */


/* ==========================================================================
   Small Up
   ========================================================================== */

body{
  color: #999;
  background: #000;
}

a{
  color: #fff;
  outline: none;
}

button{
  outline: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0 0 40px 0;
  font-size: 1rem;
}

ul, ol{
  margin: 0;
  padding: 0;
}

sub, sup{
  font-size: 60%;
}

.relative{
  position: relative;
}

/* foundation styles/overrides */
.grid-container{
  max-width: $grid-container;
}

.pagination{
  a{
    color: grey;
  }
}



/* ==========================================================================
    Medium Up
   ========================================================================== */
@media #{$medium-up} {

}


/* ==========================================================================
    Large Up
   ========================================================================== */
@media #{$large-up} {

}

