/**
 * _header.scss
 *
 */


/* ==========================================================================
   Small Up
   ========================================================================== */
header{
  font-family: 'akzidenz-grotesk_bqregular';


  .logo{
    display: block;
    margin: 10px 0;
    width: 220px;
    height: 52px;
    background: url(#{$image-path}/logo-mcdonalds-atomc.png) no-repeat;
    background-size: cover;
    text-indent: -9999rem;
  }

  .user-menu{
    list-style: none;
    font-size: 0.875rem;
  }

  .site-menu{
    font-size: 1.125rem;
  }

}



/* ==========================================================================
    Medium Up
   ========================================================================== */
@media #{$medium-up} {
  header{
    background: black(0.5);
  }
}


/* ==========================================================================
    Large Up
   ========================================================================== */
@media #{$large-up} {
  header{
    background: black(0.1);
  }
}

