/**
 * _header.scss
 *
 */


/* ==========================================================================
   Small Up
   ========================================================================== */


/* foundation styles/overrides */

.menu{
  a{
    padding: 0;
  }
}

.menu-icon{
  vertical-align: bottom;
}

.off-canvas{
  background: #000;
}


header{
  font-family: 'akzidenz-grotesk_bqregular';

  .logo{
    display: block;
    margin: 10px 0;
    width: 220px;
    height: 52px;
    background: url(#{$image-path}/logo-mcdonalds-atomc.png) no-repeat;
    background-size: cover;
    text-indent: -9999rem;
  }

  .user-menu{
    margin-top: 20px;
    list-style: none;
    font-size: 0.875rem;

    .fi-magnifying-glass{
      // text-indent: -9999rem;
    }
    li{
      margin-bottom: 10px;
    }
  }

  .site-menu{
    margin-top: 20px;
    font-size: 1.125rem;

    li{
      margin-bottom: 20px;
    }
  }

}



/* ==========================================================================
    Medium Up
   ========================================================================== */
@media #{$medium-up} {

}


/* ==========================================================================
    Large Up
   ========================================================================== */
@media #{$large-up} {

}

